<div class="container-lg p-responsive js-pinned-items-reorder-container clearfix">
  <div class="border-bottom color-border-secondary mb-3 pb-md-3">

    <div class="position-relative">
      <nav
        class="js-profile-tab-count-container UnderlineNav hx_UnderlineNav js-responsive-underlinenav overflow-visible"
        aria-label="Organization">
        <div class="width-full d-flex position-relative container-lg">
          <ul class="list-style-none UnderlineNav-body width-full p-responsive overflow-hidden">

            <li data-tab-item="org-header-repositories-tab" class="d-flex js-responsive-underlinenav-item">

              <div data-view-component="true" class="flex-auto mb-3 pb-md-3 mr-3">
                <h6 data-view-component="true" class="wb-break-all">
                  <p>Repository:</p>
                </h6>
                <p itemprop="description" data-view-component="true" class="break-word color-text-secondary mb-0 btn">
                  <select>
                    <option *ngFor="let repository of repositories" value={{repository.id}}>
                      {{repository.name}}
                    </option>
                  </select>
                </p>
              </div>
            </li>

            <li data-tab-item="org-header-packages-tab" class="d-flex js-responsive-underlinenav-item">
              <div data-view-component="true" class="flex-auto mb-3 pb-md-3 mr-3">
                <h6 data-view-component="true" class="wb-break-all">
                  <p>Platform:</p>
                </h6>

                <p itemprop="description" data-view-component="true" class="break-word color-text-secondary mb-0 btn">
                  <select>
                    <option *ngFor="let platform of platforms" value={{platform.id}}>
                      {{platform.name}}
                    </option>
                  </select>
                </p>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>


    <div class="d-flex flex-items-start">
      <!-- '"` --><!-- </textarea></xmp> -->
      <form data-autosearch-results-container="org-repositories" class="col-12 col-md-8 mb-4 mb-md-0"
            role="search" accept-charset="UTF-8" class="form-signin">
        <div class="d-flex flex-column flex-lg-row flex-auto">
          <div class="auto-search-group mb-1 mb-lg-0 mr-lg-1 flex-auto">
            <input type="text" id="your-repos-filter" name="q" class="auto-search-input form-control width-full"
                   placeholder="Find a repository…" autocomplete="off" aria-label="Find a repository…" value=""
                   data-throttled-autosubmit=""
                   (keyup)="onKeyUpEvent($event)">

            <svg aria-hidden="true" viewBox="0 0 16 16" version="1.1" data-view-component="true" height="16" width="16"
                 class="octicon octicon-search">
              <path fill-rule="evenodd"
                    d="M11.5 7a4.499 4.499 0 11-8.998 0A4.499 4.499 0 0111.5 7zm-.82 4.74a6 6 0 111.06-1.06l3.04 3.04a.75.75 0 11-1.06 1.06l-3.04-3.04z"></path>
            </svg>
            <svg style="box-sizing: content-box; color: var(--color-icon-primary);" viewBox="0 0 16 16" fill="none"
                 data-view-component="true" width="16" height="16" class="spinner anim-rotate">
              <circle cx="8" cy="8" r="7" stroke="currentColor" stroke-opacity="0.25" stroke-width="2"
                      vector-effect="non-scaling-stroke"></circle>
              <path d="M15 8a7.002 7.002 0 00-7-7" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    vector-effect="non-scaling-stroke"></path>
            </svg>
          </div>

        </div>
      </form>
      <div class="d-none d-md-flex flex-md-items-center flex-md-justify-end col-md-4">

      </div>
    </div>
  </div>
</div>
