select {
  border: none;
  outline: none;
  scroll-behavior: smooth;
  background-color: inherit;
  font-size: 14px;
  width: 100%;
}

select:hover {
  background-color: inherit;
}

option {
  /*border: 1px solid #e5e5e5;*/
  padding: 50px;
  background-color: white;
}

.option-padding {
  padding: 50px !important;
}

/*select:hover {*/
/*  #background-color: inherit;*/
/*  background-color: red;*/
/*}*/

ul {
  padding-left: 0px !important;
}

.padding-top {
  padding-top: 15px;
}

.download-zip {
  position: absolute;
  right: 0px !important;
}

.bold{
  font-weight: bold;
}




